<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/styles/base.scss"> -->
    <title>Evaluate a News Article with NLP</title>
  </head>
  <body>
    <header>
      <h1>Article Sentiment Analyser</h1>
    </header>

    <main>
      <section>
        <form action="">
          <input type="text" id="url" />
          <input type="button" id="generate" />
        </form>
      </section>

      <section>
        <h2>Sentiment Analysis</h2>
        <div class="analysisWrapper">
          
        </div>
      </section>
    </main>

    <footer></footer>
  </body>
</html>
