<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sentilysis | Evaluate a News Article with NLP</title>
  </head>
  <body>
    <div id="app">
      <header>
        <h1>Sentilysis</h1>
        <p>A tool to evaluate the sentiment of a news article using Natural Language Processing</p>
      </header>
      
      <main>
        <section id="form">
          <form novalidate>
            <input type="text" id="urlInput" placeholder="http(s)://www.example.com" pattern="https?://.+" title="The URL must start with http(s)://" required/>
            <input type="submit" id="analyseBtn" value="Analyse" />
          </form>
        </section>
  
        <section id="results">
          <h2 id="resultsHeadline"></h2>
          <div id="srcUrl"></div>
          <div id="agreement"></div>
          <div id="confidence"></div>
          <div id="irony"></div>
          <div id="scoreTag"></div>
          <div id="subjectivity"></div>
        </section>
      </main>
  
      <footer>
        <p>2022 &copy;Sentilysis NLP Analysis provided by &copy;MeaningCloud</p>
      </footer>
    </div>
  </body>
</html>
