header {
  padding-top: 4rem;
}

h1 {
  font-family: 'Pushster', serif;
  font-size: 4rem;
  font-weight: 400;
  background: -webkit-linear-gradient(#4158d0, #c850c0, #ffcc70);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0.5rem;
}
