header {
  padding-top: 64px;
}

h1 {
  font-family: 'Pushster', serif;
  font-size: 4rem;
  font-weight: 400;
  background: -webkit-linear-gradient(#d16ba5, #86a8e7, #5ffbf1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 8px;
}
